
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Panel</h1>

<h5> Welcome to your admin panel. </h5>
<p>
    Here you can manage all of your roles and all of the related users. <br />
    Click on the following link to navigate to your user roles and user management page.
</p>


<a asp-action="ListRoles" asp-controller="Administration" class="btn btn-dark"> Show User Roles</a>